<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
<div id="app">
  <tag v-for="item in tagList" v-bind:list="item" :key="item"></tag>
  <input v-on:change="addItem()" v-on:keyup.delete="deleteItem()" v-model="inputVal" class="reset">
</div>

<script>
Vue.component("tag", {
  props: ["list"],
  template: '<span class="item">{{ list }}  <i class="fa fa-times" aria-hidden="true" onclick="app.closeItem(this)"></i> </span>'
});
var app = new Vue({
  el: "#app",
  data: {
    tagList: ["first", "second", "third"],
    addItem: function() {
      if (this.inputVal) {
        app.tagList.push(this.inputVal);
        this.inputVal = "";
        document.querySelector(".reset").value = "";
      }
    },
    deleteItem: function() {
      if (!this.inputVal) {
        app.tagList.pop();
      }
    },
    closeItem: function(elem) {
        console.log(elem);
        var parentEl = elem.parentNode.parentNode,
        lastChild = elem.parentNode;
        parentEl.removeChild(lastChild);
        console.log(elem.parentNode);
    }
  }
});

</script>
</body>
</html>
